<% provide(:title, "Contato") %>
<h1>Contato</h1>
<br />
<div>
    <p>
        Para entrar em contato conosco pode enviar um e-mail ou então entrar em contato através de nossas redes sociais.<br />
        <ul class="contact">
            <li><%= image_tag('icons/socialMedia/mail.png', alt: 'mail') %> <%= mail_to "lospets.tcc@gmail.com" %></li>
            <li><%= link_to image_tag('icons/socialMedia/facebook.png', alt: 'facebook'), "https://www.facebook.com/lospets.site" %> <%= link_to "/lospets.site", "https://www.facebook.com/lospets.site" %> </li>
            <li><%= link_to image_tag('icons/socialMedia/twitter.png', alt: 'twitter'), "https://twitter.com/lospets_site" %><%= link_to "@lospets_site", "https://twitter.com/lospets_site" %></li>
        </ul>
    </p>
    <br />
    <br />
</div>
<div>
    <h2>Informações pessoais</h2>
    <p>
        Caso deseje entrar em contato comigo diretamente você pode me encontrar nos links abaixo:<br />
        <ul class="contact">
            <li><%= link_to image_tag('icons/socialMedia/linkedin.png', alt: 'linkedin'), "https://www.linkedin.com/in/tkreque/" %> <%= link_to "/tkreque", "https://www.linkedin.com/in/tkreque/" %></li>
            <li><%= link_to image_tag('icons/socialMedia/twitter.png', alt: 'twitter'), "https://twitter.com/Tkreque" %> <%= link_to "@Tkreque" ,"https://twitter.com/Tkreque" %> </li>
            <li><%= link_to image_tag('icons/socialMedia/github.png', alt: 'github'), "https://github.com/tkreque" %> <%= link_to "/tkreque" ,"https://github.com/tkreque" %> </li>
        </ul>
    </p>
</div>