<div class="commentWrapper">
  <% if @pet.comments.size > 0 %>
    <h2>Coment치rios</h2>
    <% for comment in @pet.comments %>
      <div class="comment">
         <h4><%= comment.from %> - <%= comment.created_at %></h4>
         <p><%= comment.message %></p>
      </div>
    <% end %>
  <% end %>
</div>
<br />
<div>
  <% if @user %>
    <% if @user._id == @pet.user_id %>
      <%= form_tag encontrei_pet_path(@pet), method: :put do %>
        <%= hidden_field_tag :pet_id, @pet_id%>
        <%= submit_tag 'Encontrei',:class => "btn_main" %>
      <% end %>
    <% else %>
      <h3>Enviar coment치rio:</h3>
      <%= form_for [@pet, Comment.new] do |f| %>
        <div class="field">
          <%= f.text_field :from, :value => @user['name'], :readonly => true, :disabled => true  %>
          <label for="from">De</label> 
        </div>
        <label for="message">Mensagem</label>
        <div class="field"><%= f.text_area :message, :rows => 10 %></div>
        <p></p>
        <div class="field"><%= f.submit %></div>
      <% end %>
    <% end %>
  <% else %>
    <h3>Enviar coment치rio:</h3>
    <%= form_for [@pet, Comment.new] do |f| %>
      
      <div class='field'>
            <%= f.text_field :from %>
            <label for="from">De</label> 
      </div>
      <div class="field">
        <%= f.text_area :message, :rows => 10 %></div>
      <%= recaptcha_tags %>
      <p><%= f.submit "Salvar coment치rio", :class => "submit"%></p>
    <% end %>
  <% end %>
</div>
<br />