<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pet_name %>
  </div>

  <div class="field">
    <label>Animal</label>
    <%= select_tag :animal, options_from_collection_for_select(@animals, "name", "name"), :onchange => "filterBreed(this.value);", :include_blank => "Select a animal type" %>
  </div>
  
  <div class="field">
    <%= form.label :breed %>
    <%= select_tag :breed, options_from_collection_for_select(@breeds.where('type.name' => 'Gato'), "id","name"), :include_blank => "Select a breed type" %>
  </div>
  
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @status.collect { |status| [status.name] } %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :pet_address %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :pet_user %>
  </div>
  
  <div class=”field”>
    <% if @pet.image? %>
    <div class=”thumbnail”>
      <%= image_tag @pet.image%>
    </div>
    <% end %><br>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class=”field”>
    <% if @pet.persisted? && @pet.image? %>
    <label>
      <%= form.check_box :remove_image %>
    </label>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :pet_tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

  function initialize() {
  
    var input = document.getElementById('pet_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
  };
  
  google.maps.event.addDomListener(window, 'load', initialize);
  
  function filterBreed(animal){
    breedsFilter = [];
    breeds = <%= raw @breeds.to_json %>;
    
    for (var i in breeds) {
      if (breeds[i].type.name == animal){
        breedsFilter.push(breeds[i]);
      };
    };
      
      if (breedsFilter) {
         return $('#pet_breeds').html(breedsFilter);
      } else {
        return $('#pet_breeds').empty();
      }
      console.log(breedsFilter);
  };
</script>