<!--Temporario -->
<style>
input[type="checkbox"] {
  display: block;
}
</style>

<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=”field”>
    <% if @pet.image? %>
    <div class=”thumbnail”>
      <%= image_tag @pet.image%>
    </div>
    <% end %><br>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class=”field”>
    <% if @pet.persisted? && @pet.image? %>
    <label>
      <%= form.check_box :remove_image %>
    </label>
    <% end %>
  </div>
  <br />

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pet_name %>
  </div>

  <div class="field">
    <label>Animal</label>
    <%= select_tag :animal, options_from_collection_for_select(@animals, "name", "name"), :onchange => "filterBreed(this.value);", :include_blank => "Select a animal type" %>
  </div>
  
  <div class="field">
    <%= form.label :breed %>
    <%= select_tag :breed %>
  </div>
  
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @status.collect { |status| [status.name] } %>
  </div>

  <% if @pet.name.blank? %>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :pet_address %>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, :value => @pet.address['address'], id: :pet_address %>
    </div>
  <% end %>
<br />

  <div class="field">
    <% for c in @categories %>
    <div>
      <h3><%= c.category.capitalize %></h3>
        <% for tag in @tags %>
          <% if tag.category == c.category %>
            <% if !@pet.name.blank? && @pet.tag.to_json.include?(tag.to_json) %>
              <%= check_box_tag 'tag[]', tag._id, true %>
              <%= tag.name %>
            <% else %>
              <%= check_box_tag 'tag[]', tag._id %>
              <%= tag.name %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    <% end %>
  
  </div>

<br />
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function initialize() {
  
    var input = document.getElementById('pet_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    
    $(document).ready(function(){
      $("#breed").hide();
      $('label[for="pet_breed"]').hide();
    });
  };
  
  google.maps.event.addDomListener(window, 'load', initialize);

  function filterBreed(animal){
    
    if(animal){
      breedsFilter = [];
      breeds = <%= raw @breeds.to_json %>;
      
      for (var i in breeds) {
        if (breeds[i].type.name == animal){
          breedsFilter.push(breeds[i]);
        };
      };
      
      if(breedsFilter)
        $(document).ready(function(){
          $("#breed").find('option').remove();
          
          $("#breed").show();
          $('label[for="pet_breed"]').show();
          
          for (var b in breedsFilter){  
            $("#breed").append("<option value='"+breedsFilter[b]._id['$oid']+"'>"+breedsFilter[b].name+"</option>");
          };
          
        });
        
    }else{
      $(document).ready(function(){
        $("#breed").hide();
        $('label[for="pet_breed"]').hide();
      });
    }
    
  };
</script>