<!--Temporario -->
<style>
input[type="checkbox"] {
  display: block;
}
</style>

<%= form_with(model: pet, local: true, :class => 'form full') do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @pet.image? %>
    <div class=”thumbnail”>
      <%= image_tag @pet.image, id: "avatar" %>
    </div>
    <% end %>
    <label class="upload_image" for="pet_image">Upload da Imagem <i class="material-icons">cloud_upload</i></label>
    <%= form.file_field :image, id: "pet_image" %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="field">
    <% if @pet.persisted? && @pet.image? %>
    <label>
      <%= form.check_box :remove_image %>
    </label>
    <% end %>
  </div>
  <br />

  <div class="field">
    <%= form.text_field :name, id: :pet_name %>
    <label for="pet_name">Nome do pet</label>
  </div>

  <div class="field">
    <% if @pet.breed.nil? %>
      <%= select_tag :animal, options_from_collection_for_select(@animals, "name", "name"), :onchange => "filterBreed(this.value);", :include_blank => "Selecione o tipo de animal" %>
    <% else %>
      <%= select_tag :animal, options_from_collection_for_select(@animals, "name", "name", :selected => @pet.breed['type']['name']), :onchange => "filterBreed(this.value);", :include_blank => "Selecione o tipo de animal"  %>
    <% end %>
  </div>
  
  <div class="field">
      <%= select_tag :breed %>
  </div>
  
  <div class="field">
    <% if @pet.status.nil? %>
      <%= form.select :status, @status.collect { |status| [status.name] } %>
    <% else %>
      <%= form.select :status, @status.collect { |status| [status.name] }, :selected => @pet.status['name'] %>
    <% end %>
  </div>

  <div class="field">
    <% if @pet.address.blank? %>
      <%= form.text_field :address, id: :pet_address, placeholder: "" %>
    <% else %>
      <%= form.text_field :address, :value => @pet.address['address'], id: :pet_address %>
    <% end %>
    <label for="pet_address">Endereço</label>
  </div>
<br />

  <div class="field">
    <% for c in @categories %>
    <div>
      <h3><%= c.category.capitalize %></h3>
        <% for tag in @tags %>
          <% if tag.category == c.category %>
            <% if !@pet.name.blank? && @pet.tag.to_json.include?(tag.to_json) %>
              <%= check_box_tag 'tag[]', tag._id, true, id: ActiveSupport::Inflector.transliterate(tag.name.downcase).to_s %>
              <label for= "<%= ActiveSupport::Inflector.transliterate(tag.name.downcase).to_s %>"> <%= tag.name %> </label>
            <% else %>
              <%= check_box_tag 'tag[]', tag._id, nil, id: ActiveSupport::Inflector.transliterate(tag.name.downcase).to_s %>
              <label for= "<%= ActiveSupport::Inflector.transliterate(tag.name.downcase).to_s %>"> <%= tag.name %> </label>
            <% end %>
          <% end %>
        <% end %>
    </div>
    <% end %>
  
  </div>


  <div class="actions">
    <%= form.submit "Salvar Pet", :class => 'submit' %>
  </div>
<% end %>

<script>
  function initialize() {
  
    var input = document.getElementById('pet_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    
    $(document).ready(function(){
      
      $("#breed").hide();
      $('label[for="pet_breed"]').hide();
    });
    
  
    breed = <%= raw @pet.breed.to_json %>
    if (breed){
      filterBreed(breed.type.name);
      $("#breed").val(breed._id['$oid']);
    }
  };
  
  google.maps.event.addDomListener(window, 'turbolinks:load', initialize);

  function filterBreed(animal){
    
    if(animal){
      breedsFilter = [];
      breeds = <%= raw @breeds.to_json %>;
      
      for (var i in breeds) {
        if (breeds[i].type.name == animal){
          breedsFilter.push(breeds[i]);
        };
      };
      
      if(breedsFilter)
        $(document).ready(function(){
          $("#breed").find('option').remove();
          
          $("#breed").show();
          $('label[for="pet_breed"]').show();
          
          for (var b in breedsFilter){  
            $("#breed").append("<option value='"+breedsFilter[b]._id['$oid']+"'>"+breedsFilter[b].name+"</option>");
          };
          
        });
        
    }else{
      $(document).ready(function(){
        $("#breed").hide();
        $('label[for="pet_breed"]').hide();
      });
    }
    
  };
</script>