<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pet_name %>
  </div>

  <div class="field">
    <label>Animal</label>
    <%= select_tag :animal, options_from_collection_for_select(@animals, "name", "name"), :onchange => "filterBreed(this.value);", :include_blank => "Select a animal type" %>
  </div>
  
  <div class="field">
    <%= form.label :breed %>


    <!-- %= form.select :breed, @breeds.collect { |breed| [breed.name] if breed.type['name'] == 'Cachorro' }, :include_blank => "Select a breed" %>-->
    <%= select_tag :breed, options_from_collection_for_select(@breeds.where('type.name' => 'Gato'), "id","name") %>
  </div>
  
  <!--<label>Teste</label>-->
  <!--%= select_tag :breed, grouped_collection_select(@breeds, :type['_id'], @animals, :_id, :name, :_id, :name) %>-->
  <!--<br />-->
  
  <!--<div class="field">-->
  <!--  %= form.label :status %>-->
  <!--  %= form.text_field :status, id: :pet_status %>-->
  <!--</div>-->
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, @status.collect { |status| [status.name] } %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :pet_address %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :pet_user %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :pet_image %>
  </div>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag, id: :pet_tag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function filterBreed(animal){
    breedsFilter = [];
    breeds = <%= raw @breeds.to_json %>;
    
    for (var i in breeds) {
      if (breeds[i].type.name == animal){
        breedsFilter.push(breeds[i]);
      };
    };
    
    if (breedsFilter) {
       return $('#pet_breeds').html(breedsFilter);
    } else {
      return $('#pet_breeds').empty();
    }
    console.log(breedsFilter);
  };
</script>