<p id="notice"><%= notice %></p>

<% if current_user.present? %>
  <h1>Meus Pets</h1>
  
  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Status</th>
        <th>Address</th>
        <th>User</th>
        <th>Tag</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @mypets.each do |pet| %>
        <tr>
          <td><%= image_tag(pet.image, class:"pet_image_small") %></td>
          <td><%= pet.name %></td>
          <td><%= pet.breed['name'] %></td>
          <td><%= pet.status['name'] %></td>
          <td><%= pet.address['address'] %></td>
          <td>
            <% if pet.user.present? %>
              <%= pet.user['name'] %>
            <% else %>
              Usuário inexistente!
            <% end %>
          </td>
          <td>
            <% pet.tag.each do |tag| %>
              <%= tag.name %><br />
            <% end %>
          </td>
          <td><%= link_to 'Show', pet %></td>
          <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
          <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>

  <%= link_to 'New Pet', new_pet_path %>
<% else %>
  <script type="text/javascript">
    window.location.href="/users/sign_up"
  </script>
<% end %>
