<% provide(:title, "Pet") %>

<p id="notice"><%= notice %></p>

<% if current_user.present? %>
  <h1>Meus Pets</h1>
  
  <% @mypets.each do |pet| %>
    <div class="pet">
      <div class="petName"><%= pet.name %></div>
      <div class="petWrapper">
        <div class="petImage"><%= image_tag(pet.image, class:"pet_image_small") %></div>
        <div class="petDescriptor">
          
          <div class="petBreed">
            <span>Raça:</span>
            <%= pet.breed['name'] %>
          </div>
          
          <div class="petStatus">
            <span>Status:</span>
            <%= pet.status['name'] %>
            </div>
            
          <div class="petAddress">
            <span>Endereço:</span>
            <%= pet.address['address'] %>
          </div>
          
          <div class="petOwner">
            <span> Usuário/Tutor:</span>
            <% if pet.user.present? %>
            <%= pet.user['name'] %>
            <% else %>
            Usuário inexistente!
            <% end %>
          </div>
          
          <div class="petCharacteristics">
            <span>Características</span>
            <% pet.tag.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </div>
          
        </div>        
        <div class="petActions">
          <%= link_to 'Ver Detalhes', pet %>
          <%= link_to 'Editar perfil', edit_pet_path(pet), :class => "btn2" %>
          <%= link_to 'Deletar Pet', pet, method: :delete, :class => "btn_remove", data: { confirm: 'Você tem certeza que deseja excluir este Pet?' } %>
        </div>  
      </div>
      
    </div>
  
  <% end %>
  <div class="linkwrapper">
    <%= link_to 'Cadastrar novo pet', new_pet_path, :class => "btn_main" %>
  </div>
  
<% else %>
  <script type="text/javascript">
    window.location.href="/users/sign_up"
  </script>
<% end %>
