<p id="notice"><%= notice %></p>

<div>
  <%= image_tag(@pet.image, class:"pet_image") %>    
</div>
<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed['name'] %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pet.status['name'] %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pet.address['address'] %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @pet.tag %>
</p>

<div>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @pet.address['coordinates'][1] %>,<%= @pet.address['coordinates'][0] %>&zoom=13&size=600x300&maptype=roadmap&markers=<%= @pet.address['coordinates'][1] %>,<%= @pet.address['coordinates'][0] %>&key=AIzaSyDMI_uP_6ASCcL8ETf3uTu2_8hy1hn1ROw" class="static_map"></img>
</div>

<div>
  <% if @pet.status['name'] == "Adoção" %>
    <%= social_share_button_tag("Olá eu sou "+@pet.name+", você me quer me adotar? #LosPets", :url => pet_url, desc: "Olá eu sou "+@pet.name+", você me quer me adotar? #LosPets") %>
  <% elsif @pet.status['name'] == "Encontrado" %>
    <%= social_share_button_tag("Olá eu sou "+@pet.name+", você sabe quem é meu dono? #LosPets", :url => pet_url, desc: "Olá eu sou "+@pet.name+", você sabe quem é meu dono? #LosPets") %>
  <% else %>
    <%= social_share_button_tag("Olá eu sou "+@pet.name+", você me viu por ai? #LosPets", :url => pet_url, desc: "Olá eu sou "+@pet.name+", você me viu por ai? #LosPets") %>
  <% end %>
</div>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
