<p id="notice"><%= notice %></p>

<div class="petProfile">

  <div class="petImage">
    <%= image_tag(@pet.image, class:"pet_image") %>    
  </div>
  
  <div class="petDescription">
    <p>
      <strong>Name:</strong>
      <%= @pet.name %>
    </p>
    
    <p>
      <strong>Breed:</strong>
      <%= @pet.breed['name'] %>
    </p>
    
    <p>
      <strong>Status:</strong>
      <%= @pet.status['name'] %>
    </p>
    
    <p>
      <strong>Address:</strong>
      <%= @pet.address['address'] %>
    </p>
    
    <p>
      <strong>User:</strong>
      <% if @pet.user.present? %>
        <% if @pet.user.avatar.present? %>
          <%= image_tag(@pet.user.avatar, class: "user_image", style: "width:45px;height:45px") %>
        <% else %>
           <img src="/assets/users/Paw-icon.png" class='user_image', style='width:45px;height:45px' />
         <% end %>
        <%= @pet.user['name'] %>
      <% else %>
        Usuário inexistente!
      <% end %>
    </p>
    
    <p>
      <strong>Tag:</strong>
      <% @pet.tag.each do |tag| %>
        <%= tag.name %><br />
      <% end %>
    </p>
  </div>
<div>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @pet.address['coordinates'][1] %>,<%= @pet.address['coordinates'][0] %>&zoom=13&size=600x300&maptype=roadmap&markers=<%= @pet.address['coordinates'][1] %>,<%= @pet.address['coordinates'][0] %>&key=AIzaSyDMI_uP_6ASCcL8ETf3uTu2_8hy1hn1ROw" class="static_map"></img>
</div>

<%= render 'pets/comments' %>
<%= render 'pets/share' %>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
</div>