<!--Temporario -->
<style>
input[type="checkbox"] {
  display: block;
}
</style>

<%= form_with(model: user, local: true, :class => 'form full') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if @user.avatar? %>
    <div class=”thumbnail”>
      <%= image_tag @user.avatar, id: "avatar"%>
    </div>
    <% end %><br>
    <label class="upload_image" for="user_image">Upload da Imagem <i class="material-icons">cloud_upload</i></label>
    <%= form.file_field :image, id: "user_image" %>
    <%= form.hidden_field :avatar_cache %>
  </div>
  <div class="field">
    <% if @user.persisted? && @user.avatar? %>
    <label>
      <%= form.check_box :remove_avatar %>
    </label>
    <% end %>
  </div>
  <br />

  <div class="field">
    
    <%= form.text_field :name, id: :user_name %>
    <label for="user_name">Nome</label>
  </div>
  
  <div class="field">
    
    <%= form.text_field :email, id: :user_email, :readonly => true, :disabled => true %>
    <label for="user_email">E-mail</label>
  </div>
  
  <div class="field">
    
    <%= form.check_box :notify_email, id: :user_notify_email %>
    <label for="user_notify_email">Notificação de mensagens por E-mail</label>
  </div>
  
  <div class="field">
    
    <% if @user.address.blank? %>
      <%= form.text_field :address, id: :user_address, placeholder: ""  %>
    <% else %>
      <%= form.text_field :address, :value => @user.address['address'], id: :user_address %>
    <% end %>
    
  </div>
<br />
  
  <div class="field">
    
    <%= form.text_field :cellphone, id: :user_cellphone, placeholder: '(xx) xxxxx-xxxx' %> <!--, :data => {:mask => '(99) 99999-9999'}-->
    <label for="user_cellphone">Celular</label>
  </div>
  
  <div class="field">
    
    <%= form.check_box :notify_cellphone, id: :user_notify_cellphone %>
    <label for="user_notify_cellphone">Notificação de mensagens por SMS</label>
  </div>
  
  <br />

  <h2>Configurations</h2>

  <% if @user.configuration.nil? %>
      <div class="field">
          <label for="raio">Raio de pesquisa</label>
          <%= form.range_field :raio, :id=>"slider_raio", in: 0.5..20, step: 0.5, :oninput => "display.value=slider_raio.value", value: 1, style: "margin-left: 20px; width: 50%;" %>
          Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output>
      </div>
      
      <div class="field">
          
          <%= form.text_field :configuration_address, id: :configuration_address, placeholder: ""  %>
          <label for="configuration_address">Endereço de pesquisa</label>
      </div>
      
  <% else %>
      <div class="field">
          <p for="raio">Raio de pesquisa</p>
          <% if @user.configuration.square.nil? %>
              <%= form.range_field :raio, :id=>"slider_raio", in: 0.5..20, step: 0.5, :oninput => "display.value=slider_raio.value", value: 1, style: "margin-left: 20px; width: 50%;" %>
              Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output>
          <% else %>
              <%= form.range_field :raio, :id=>"slider_raio", in: 0.5..20, step: 0.5, :oninput => "display.value=slider_raio.value", value: @user.configuration.square, style: "margin-left: 20px; width: 50%;" %>
              Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio"><%= @user.configuration.square %></output>
          <% end %>
      </div>
      
      <br />
  
      <div class="field">
          
          <% if @user.configuration.address.nil? %>
              <%= form.text_field :configuration_address, id: :configuration_address, placeholder: ""  %>
          <% else %>
              <%= form.text_field :configuration_address, :value => @user.configuration.address['address'], id: :configuration_address %>
          <% end %>
          <label for="configuration_address">Endereço de pesquisa</label>
      </div>
  
  <% end %>
  
  </div>
  <br />

  <div class="actions">
    <%= form.submit :class => "submit btn_main full"  %>
  </div>
<% end %>

<script>
  function initialize() {
  
    var input = document.getElementById('user_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    
    var input2 = document.getElementById('configuration_address');
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
    
    $(document).ready(function(){
      var maskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
      },
      options = {onKeyPress: function(val, e, field, options) {
        field.mask(maskBehavior.apply({}, arguments), options);
        }
      };
       
      $('#user_cellphone').mask(maskBehavior, options);
    });
  
  };
  
  google.maps.event.addDomListener(window, 'turbolinks:load', initialize);
  
</script>

