<!--Temporario -->
<style>
input[type="checkbox"] {
  display: block;
}
</style>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=”field”>
    <% if @user.avatar? %>
    <div class=”thumbnail”>
      <%= image_tag @user.avatar%>
    </div>
    <% end %><br>
    <%= form.label :avatar %><br>
    <%= form.file_field :avatar %>
    <%= form.hidden_field :avatar_cache %>
  </div>
  <div class=”field”>
    <% if @user.persisted? && @user.avatar? %>
    <label>
      <%= form.check_box :remove_avatar %>
    </label>
    <% end %>
  </div>
  <br />

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>
  
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email, :readonly => true, :disabled => true %>
  </div>
  
  <div class="field">
    <%= form.label :notify_email %>
    <%= form.check_box :notify_email, id: :user_notify_email %>
  </div>
  
  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>
  
  <div class="field">
    <%= form.label :cellphone %>
    <%= form.text_field :cellphone, id: :user_cellphone %>
  </div>
  
  <div class="field">
    <%= form.label :notify_cellphone %>
    <%= form.check_box :notify_cellphone, id: :user_notify_cellphone %>
  </div>
  
  <br />

  <h2>Configurations</h2>
  <div class="field">
    <%= form.label :raio%>
    <%= form.range_field :raio, :id=>"slider_raio", in: 0.5..20, step: 0.5, :oninput => "display.value=slider_raio.value", value: 1, style: "margin-left: 20px; width: 50%;" %>
    <!--<input style="margin-left: 20px; width: 50%;" type="range" value="1" min="0.5" max="20" step="0.5" name="slider_raio" oninput="display.value=slider_raio.value" id="slider_raio" />-->
    Km: <output id="display" style="color: black; width: 10%; margin: 0px;" name="display" for="slider_raio">1</output><br />
  </div>
  
  <div class="field">
    <!--<label for="config_address">Address</label>-->
    <!--<input type="text" id="config_address" name="configuration[address]" placeholder="Enter a location">-->
    <%= form.label :configuration_address %>
    <%= form.text_field :configuration_address, id: :configuration_address %>
  </div>
  
  </div>
  <br />

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function initialize() {
  
    var input = document.getElementById('user_address');
    var autocomplete = new google.maps.places.Autocomplete(input);
    
    var input2 = document.getElementById('configuration_address');
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
  };
  
  google.maps.event.addDomListener(window, 'load', initialize);
</script>