<h2>Forgot your password?</h2>

<div class="formWrapper">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,:class => 'form' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email %><br />
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", :class => "submit"  %>
  </div>
<% end %>
 <div class="quick_access">
    <span class="or">Ou</span>
    <%= render "devise/shared/links" %>
  </div>

</div>