<h2>Entrar</h2>

<div class="formWrapper">

  <%= form_for(resource, as: resource_name, :html => {:class => 'form'}, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%= f.label :email %><br />
    </div>
  
    <div class="field">
       <%= f.password_field :password, autocomplete: "off" %>
       <%= f.label :password %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Entrar", :class => "submit" %>
    </div>
  <% end %>
  <div class="quick_access">
     <span class="or">Ou</span>
     <%= render "devise/shared/links" %>
  </div>
</div>