<header class="content">
   <div class='superiorMenu'>
      <div class='logoMenu'>
         <%= link_to image_tag('lospets_logo.png', alt: 'LosPets'), root_path %>
      </div>
      <div class="navegationMenu">
         <!--<div class='navegationLeftMenu'>-->
         
         <% if current_user.present? %>
         <div class='loginMenu loggedIn'>
            <!-- the 'logged-in' class should be added only if the user is logged -->
            <!---i class="material-icons md-dark">face</i--->
            <div class="profile-access">
                
                <% if current_user.avatar.present? %>
                   <%= image_tag(current_user.avatar, class:"roundedImage") %>
                <% else %>
                   <%= image_tag("users/Paw-icon.png", class:"roundedImage") %>
                <% end %>
                Olá <%= current_user['name'].split(" ")[0] %>
                <i class="material-icons md-dark dropdown">arrow_drop_down</i>
            </div>
            <div class="userMenu">
               <ul>
                  <li> <%= link_to "Meu cadastro", edit_user_path(current_user) %> </li>
                  <li> <%= link_to "Cadastrar Pet Perdido", '/pets/new' %> </li>
                  <li> <%= link_to "Meus pets", '/pets/my' %> </li>
                  <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
               </ul>
            </div>
            </div>
            <% else %>
            <div class='loginMenu logedOff'>
               <ul>
                  <li><%= link_to "Faça seu login", "/users/sign_in" %></li>
                  <li><%= link_to "Cadastre-se", "/users/sign_up" %></li>
               </ul>
            </div>
            <% end %>
      
         <ul>
            <li><%= link_to "Lista de Pets", '/pets' %></li>
            <li><%= link_to "Sobre o projeto", '/about' %></li>
            <li><%= link_to "Contato", '/contact' %></li>
            <li><%= link_to "Ajude-me", '/help' %></li>
         </ul>
         
      </div>
      <div class="menu-for-mobile">
         <i class="material-icons">menu</i>
      </div>
      <div class="overlay"></div>
   </div>
</header>