<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/schim' %>
      
    <link rel="shortcut icon" type="image/png" href="<%= root_path %> images/favicon.png"/>
    
    <meta name="viewport" content="width=device-width">
      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <%= render 'layouts/styles' %>
    <%= render 'layouts/js' %>
    
  </head>

  <body>
    <div class='appHeader'>
      <%= render 'layouts/header' %>
    </div>
    <div class='appBody'>
      <div class="content">
         <%= yield %>
      </div>
    </div>
    <div class='appFooter'>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
